@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		@apply flex min-h-dvh w-dvw flex-col bg-background text-foreground;
		& > div:first-of-type {
			@apply contents;
		}
	}
	main:has(section.related) ~ footer {
		@apply mt-0;
	}
}
